ipykernel
ipython
ipywidgets
ipympl
jupyter
jupyterlab
nodejs
matplotlib
notebook
numpy
pandas
pickleshare
pillow
torch==1.7.1
torchvision==0.8.2
seaborn
jupyter_contrib_nbextensions 
jupyter_nbextensions_configurator